/* global start  */
:root {
    --primaryColor: #ff6a48;
    --secondColor: #fff;
}
body {
    font-family: 微軟正黑體, Arial, Helvetica, sans-serif;
}
html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
img {
    margin: 0;
    padding: 0;
    border: 0;
}

img {
    width: 100%;
}

.clearfix::after {
    content: '';
    display: block;
    clear: both;
}

li {
    float: left;
    list-style: none;
}

a {
    text-decoration: none;
    color: #000;
}

p {
    font-size: 14px;
    color: #333;
    line-height: 1.5em;
    font-weight: 300;
    letter-spacing: 1px;
}

/* Global end  */

/* GRID FOR DESKTOP  */
* {
    box-sizing: border-box;
}

.full-width {
    width: 100%;
}

.fixed-width {
    width: 1200px;
    margin: auto;
}

.col-1 {
    width: calc(100% * 1 / 12);
}

.col-2 {
    width: calc(100% * 2 / 12);
}

.col-3 {
    width: calc(100% * 3 / 12);
}

.col-4 {
    width: calc(100% * 4 / 12);
}

.col-5 {
    width: calc(100% * 5 / 12);
}

.col-6 {
    width: calc(100% * 6 / 12);
}

.col-7 {
    width: calc(100% * 7 / 12);
}

.col-8 {
    width: calc(100% * 8 / 12);
}

.col-9 {
    width: calc(100% * 9 / 12);
}

.col-10 {
    width: calc(100% * 10 / 12);
}

.col-11 {
    width: calc(100% * 11 / 12);
}

.col-12 {
    width: calc(100% * 12 / 12);
}

.nopa {
    padding: 0 !important;
}

[class*='col'] {
    float: left;
    padding: 10px;
    /* border: 1px solid rgb(177, 140, 232); */
}

/* div {
    height: 100px;
} */
/* .nopa {
    margin-left: -10px;
    margin-right: -10px;
} */

.no {
    margin-left: -10px;
    margin-right: -10px;
}
.btn11 {
    display: inline-block;
    color: #fff;
    background-color: var(--primaryColor);
    padding: 8px 20px;
    text-decoration: none;
    /* border: 3px solid rgba(249, 198, 180, 0.7); */
    width: 90px;
}
.btn1 {
    display: inline-block;
    color: #fff;
    background-color: var(--primaryColor);
    padding: 8px 20px;
    text-decoration: none;
    border: 3px solid rgba(249, 198, 180, 0.7);
}

.btn {
    display: inline-block;
    padding: 8px 20px;
    background-color: var(--primaryColor);
    color: #fff;
    text-decoration: none;
}

/* nav-info */
#nav-info {
    /* height: 50px; */
    /* line-height: 50px; */
    /* background-color: #ccc; */
    padding-top: 20px;
    padding-bottom: 20px;
    position: absolute;
    /* background-color: rgba(255, 255, 255, 0.75); */
}

#nav-info a {
    /* text-decoration: none;
    color: #000; */
    /* padding-left: 15px;
    padding-right: 15px; */
    display: block;
    padding: 8px 15px;
}
#nav-info .addr {
    float: left;
    padding: 8px 15px;
    /* line-height: 50px; */
}

#nav-info .register {
    float: right;
    /* line-height: 50px; */
}

#nav-info .donate {
    float: right;
}

/* #nav-info .addr li {
    float: left;
    list-style: none;
}

#nav-info .register li {
    float: left;
    list-style: none;
} */

/* nav  */

nav {
    padding-top: 20px;
    padding-bottom: 20px;
    position: absolute;
    top: 74px;
    /* background-color: rgba(255, 255, 255, 0.75); */
}
nav a {
    display: block;
    padding: 8px 15px;
}
nav .logo {
    float: left;
}

nav .menu {
    float: right;
}

nav .menu li {
    float: left;
}

header {
    height: 800px;
    background-image: url(/web111b/gracechurch/images/header.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

/* feature  */
#feature {
    padding-top: 50px;
    padding-bottom: 50px;
}

#feature .col-7 {
    /* background-color: #fa0; */
}
#feature .col-5 {
    /* background-color: #aa0; */
}
#feature .col-2 {
    /* background-color: #0af; */
}
#feature .col-12 {
    /* background-color: #a0f; */
}
#feature .col-10 {
    /* background-color: #f00; */
}
#feature h2 {
    font-size: 16px;
    padding-top: 15px;
    padding-bottom: 15px;
}
#feature h3 {
    font-size: 30px;
    font-weight: normal;
    line-height: 1em;
    padding-top: 15px;
    padding-bottom: 15px;
}

#feature p {
    padding-top: 15px;
    padding-bottom: 30px;
}

/* #feature .col-5 {
    padding: 40px 60px;
} */

.feature-gallery {
    padding: 40px 60px;
}

.line {
    position: relative;
}

.line::before {
    content: '';
    display: block;

    position: absolute;
    border-top: 3px solid var(--primaryColor);
    width: 60px;
    top: 22px;
    left: 1px;
}
.line1 {
    position: relative;
}
.line1:before {
    content: '';
    display: block;

    position: absolute;
    border-top: 3px solid var(--secondColor);
    width: 60px;
    top: 22px;
    left: 1px;
}
.line2 {
    position: relative;
}
.line2:before {
    content: '';
    display: block;

    position: absolute;
    border-top: 3px solid var(--secondColor);
    width: 60px;
    top: 20px;
    left: 1px;
}
.line3 {
    top: 15px;
    position: relative;
}
.line3:before {
    content: '';
    display: block;

    position: absolute;
    border-top: 3px solid var(--secondColor);
    width: 60px;
    top: 20px;
    left: 1px;
}
/* events  */
#events {
    padding-top: 500px;
    padding-bottom: 50px;

    background-image: linear-gradient(rgba(255, 96, 96, 0.6), rgba(255, 96, 96, 0.6)), url(https://source.unsplash.com/random/1200x300);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    color: #fff;
    padding: 0 100px;
}

#events p {
    padding-top: 35px;
    padding-bottom: 35px;
    color: #fff;
}

#events h2 {
    color: #fff;
}

/* gallery */
#gallery {
    padding-top: 50px;
    padding-bottom: 50px;
}
#gallery h2 {
    font-size: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
}
#gallery .col-4 {
    height: 600px;
    width: 400px;
    overflow: hidden;
}

/* footer  */
footer {
    height: 50px;
    line-height: 50px;
}

footer .col-4 {
    text-align: right;
}

footer .col-4 a {
    margin: 0 10px;
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: #aaa;
    text-align: center;
    line-height: 30px;
    border-radius: 50%;
}

footer .col-4 a:hover {
    background-color: #333;
    color: #fff;
}

#additional {
    height: 200px;
    line-height: 150px;
    background-image: linear-gradient(rgba(255, 96, 96, 0.6), rgba(255, 96, 96, 0.6)), url(https://source.unsplash.com/random/1200x300);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    color: #fff;
    /* padding: 0 100px; */
    display: flex;
}
.flex-container {
    width: 1360px;
    margin: 0 auto;
}
.flex-container {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    -webkit-flex: 1;
    flex-direction: row;
}
#additional .addr {
    height: 150px;
    float: left;
    padding: 50px 15px;
    line-height: 20px;
}
#additional .col-2 {
    height: 80px;
}
.date1 {
    margin-top: 50px;
    line-height: 50px;
    background-color: #ff6a48;
    padding: 15px 0;
    text-align: center;
    height: 40px;
    width: 80px;
    float: left;
    color: #fff;
}
#additional h1 {
    line-height: 5px;
    font-size: 38px;
    margin: 0;
    padding: 10px 0px;
}
#additional h4 {
    font-size: 12px;
    margin: 0;
    padding: 0 0;
}
.col-10 {
    display: flex;
    flex-direction: column;
}
#additional .text3 {
    /* border: 1px solid #ff6a48; */
}
#additional .text2 {
    flex-direction: row;
    /* border: 1px solid #f7f5f5; */
}
#additional .clock {
    /* display: block; */
    float: left;
    padding: 40px 0px 0px 0px;
    line-height: 20px;
    /* border: 1px solid #6b1ef0; */
}
#additional .time {
    padding-top: 40px;
    color: gray;
    padding-left: 20px;
    line-height: 20px;
    /* border: 1px solid #f8f8f9; */
}
#additional .word {
    display: inline;
    padding-top: 10px;
    padding-left: 0px;
    font-size: 22px;
    height: 0px;
    line-height: 15px;
    /* border: 1px solid #f8f8f9; */
}

#additional .col-7 {
    flex: auto;
    /* background-color: #a982e3; */
}
#additional .col-5 {
    padding: 1em;
    /* background: #d97018; */
    flex: auto;
}

#additional .btn3 {
    margin-top: 45px;
    line-height: 50px;
    padding: 10px 60px 30px 60px;
    text-align: left;
    height: 80px;
    float: left;
    border: 3px solid rgb(165, 162, 162);
    color: #fff;
}
#additional .col-6 a {
    color: #fff;
    font-size: smaller;
}

#upcoming {
    height: 400px;
    line-height: 150px;
    background-image: linear-gradient(rgba(233, 189, 108, 0.6), rgba(255, 96, 96, 0.6)), url(https://source.unsplash.com/random/1200x300);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    color: #fff;
    padding: 0 10px;
}
#upcoming h2 {
    line-height: 15px;
    font-size: 16px;
    padding-top: 15px;
    padding-bottom: 15px;
}
#upcoming h3 {
    line-height: 15px;
    padding-top: 20px;
    padding-bottom: 15px;
    font-size: 20px;
}

#upcoming h1 {
    line-height: 5px;
    font-size: 38px;
    margin: 0;
    padding: 10px 0px;
}
#upcoming h4 {
    font-size: 12px;
}

.date {
    float: left;
    margin-top: 10px;
    line-height: 35px;
    background-color: #ff6a48;
    padding: 15px 0;
    text-align: center;
    height: 80px;
    width: 80px;
    color: #fff;
}
#upcoming .col-3 {
    display: flex;
}
.clock1,
.addr1 {
    display: block;
    flex-direction: row;
    height: 20px;
    width: 100%;
    line-height: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 16px;
}
.datetime,
.address {
    display: block;
    flex-direction: column;
    height: 20px;
    width: 100%;
    line-height: 20px;
    padding-top: 0px;
    padding-left: 10px;
    padding-bottom: 10px;
    font-size: 16px;
}
/* .datetime {
    padding-top: 10px;
} */
#blog {
    height: 700px;
    padding-top: 50px;
    padding-bottom: 50px;
}
.imgbox {
    position: relative;
}
#blog img {
    margin: 0;
    padding: 0 0;
}
#blog .date {
    /* margin: 0; */
    padding: 0 0;
    width: 80px;
    text-align: center;
    background-color: #ff6a48;
    position: absolute;
    bottom: 4px;
    left: 0;
}
#blog .col-4 {
    height: 300px;
    width: 400px;
}
#blog h2 {
    font-size: 18px;
    padding-top: 15px;
    padding-bottom: 15px;
}
#blog h4 {
    padding-top: 0px;
    padding-bottom: 15px;
}

#pastor {
    padding: 10px;
    height: 580px;
    line-height: 60px;
    background-image: linear-gradient(rgba(233, 189, 108, 0.6), rgba(255, 96, 96, 0.6)), url(https://source.unsplash.com/random/1200x300);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    color: #fff;
    padding: 0 10px;
}
#pastor h3 {
    line-height: 20px;
    font-size: 18px;
    padding-top: 15px;
    padding-bottom: 15px;
}
#pastor h1 {
    font-size: 36px;
}
#pastor .col-height {
    line-height: 50px;
}
#pastor .col-8 .col-2 .btn2 {
    margin: 50px 0px;
    background-color: #ff6a48;
    text-align: center;
    height: 50px;
    width: 50px;
    float: left;
    color: #fff;
    line-height: 50px;
}
#pastor p {
    color: #fff;
}
#pastor .by {
    color: rgb(141, 138, 138);
    line-height: 50px;
}
#pastor .name {
    color: #ff6a48;
    line-height: 50px;
}
.inlinename {
    display: flex;
    flex-direction: row;
}
#pastor a {
    border: 3px solid rgb(167, 164, 164);
    padding: 15px 15px;
}
#pastor h4 {
    padding-top: 0px;
}
