#abc {
    color: burlywood;
    background-color: cyan;
}
.def {
    color: burlywood;
    background-color: cyan;
}
.alink {
    display: inline;
    color: rgb(34, 48, 95);
}
.myline {
    background-color: #e3f2fd;
    display: block;
}
